/* CSS Document */
@charset 'utf-8';
/* font */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700&subset=latin,latin-ext);
/* css reset */
a,abbr,acronym,address,applet,area,article,aside,audio,b,base,basefont,bdi,bdo,big,blockquote,body,br,canvas,caption,center,cite,code,col,colgroup,command,datalist,dd,del,details,dfn,dir,div,dl,dt,em,embed,fieldset,figcaption,figure,font,footer,form,frame,frameset,head,header,hgroup,h1,h2,h3,h4,h5,h6,hr,html,i,iframe,img,ins,kbd,keygen,label,legend,li,link,map,mark,menu,meta,meter,nav,noframes,noscript,object,ol,optgroup,option,output,p,param,pre,progress,q,rp,rt,ruby,s,samp,script,section,small,source,span,strike,strong,style,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,title,tr,track,tt,u,ul,var,video,wbr{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
table,tr,th,td{vertical-align:top;}
ul,ul li,menu,menu li{margin:0;padding:0;list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
address{font-style:normal;}
ins{text-decoration:none;}
del{text-decoration:line-through;}
table{border-collapse:collapse;border-spacing:0;}
th{text-align:left;}
input,textarea{font-family:'Open Sans',sans-serif;font-size:100%;}
input.submit{width:0;overflow:visible;}
input.submit[class]{width:auto;}
article,aside,canvas,figcaption,figure,footer,header{display:block;}
/* elements */
body{font-size:13px;line-height:1.3;font-family:'Open Sans',sans-serif;color:#4c4c4c;text-align:center;background:#b2b2b2;}
a{color:#f16221;cursor:pointer;}
a:hover{text-decoration:none;}
h1,h2,h3,h4,h5,h6{margin:0 0 20px 0;}
h1{font-size:28px;}
h2{font-size:24px;}
h3{font-size:18px;}
h4{font-size:14px;}
p{margin:0 0 20px 0;}
ul,ol{padding:0;margin:0 0 20px 20px;}
ul ul,ul ol,ol ol,ol ul{margin-bottom:0;}
ol{list-style:decimal;}
ul li{padding:0 0 0 20px;margin:0;background:url(../images/arr/01.png) no-repeat 0 4px;}
ul ul{padding:10px 0;}
ol li{margin:0 0 0 20px;}
ol ol{padding: 10px 0;}
hr{margin:0 0 20px 0;border:0;border-top:1px solid #ccc;}
strong{font-weight:bold;}
em{font-style:italic;}
sup,sub{position: relative;vertical-align:baseline;font-size:60%;line-height:1;}
sup{bottom:1.4ex;}
sub{top:.7ex;}
/* classes */
.r{text-align:right!important;}
.c{text-align:center!important;}
.l{text-align:left!important;}
.j{text-align:justify!important;}
.pull-left{float:left;}
.pull-right{float:right;}
.clear{clear:both;}
.cleaner{display:block;clear:both;height:0;overflow:hidden;float:none;}
.nodisplay{display:none;}
.clearfix{*zoom:1;}
.clearfix:before,.clearfix:after{display:table;content:"";}
.clearfix:after{clear:both;}
.block{display:block;}
/* skype prevent */
span.skype_pnh_container{display:none !important;}
span.skype_pnh_print_container{display:inline !important;}
/* xart.classes */
nav.more{text-align:right;margin:0 0 20px 0;}
nav.more a{color:#41a729;padding:0 16px 0 0;background:url(../images/arr/01.png) no-repeat right;}
table.normal{margin:0 0 20px 0;width:100%;background:#fff;}
table.normal th,table.normal td{padding:6px 8px;border:1px solid #444;font-weight:normal;}
table.normal.compact th,table.normal.compact td{padding:2px 8px;}
table.normal tr:nth-child(odd) td{background:#f5f5f5;color:#000;}
table.normal th,table.normal thead td{font-weight:bold;color:#fff!important;background:#f27941!important;}
table.normal th a,table.normal thead td a{color:#fff;}
table.normal tfoot td{background:#5db449!important;}
table.normal tr:hover td{background:#ddd;}
table.normal tr:hover th,table.normal thead tr:hover td{background:#f06120!important;}
table.normal tfoot tr:hover td{background:#41a729!important;}
table.info{margin:0 0 20px 0;}
table.info td,table.info th{padding:0 7px 0 0;}
form.normal{margin:0 0 20px 0;}
form.normal label{display:block;margin:0 0 10px 0;font-weight:bold;}
form.normal .optgroup label{display:inline;font-weight:normal;}
form.normal input[type=text],form.normal input[type=email],form.normal input[type=password],form.normal textarea,form.normal select{position:relative;border:1px solid #c6c6c6;font-size:13px;line-height:18px;margin:0 3px 5px 0;width:198px;height:18px;padding:8px 10px;color:#000;background:#fff;-webkit-border-radius:16px;-moz-border-radius:16px;border-radius:16px;}
form.normal input.input-mini{width:34px;padding-left:0;padding-right:0;text-align:center;}
form.normal input.input-small{width:125px;}
form.normal input.input-large{width:300px;}
form.normal textarea{padding:10px;width:auto;height:auto;}
form.normal select{width:auto;height:auto;padding:8px;}
form.normal input[type=text]:hover,form.normal input[type=email]:hover,form.normal input[type=password]:hover,form.normal textarea:hover,form.normal select:hover,
form.normal input[type=text]:focus,form.normal input[type=email]:focus,form.normal input[type=password]:focus,form.normal textarea:focus,form.normal select:focus{background:#f1f1f1;}
form.normal .fileinputs{position:relative;overflow:hidden;display:inline-block;cursor:default;}
form.normal .fileinputs input.type-file{position:absolute;top:-10px;right:-10px;margin:0;padding:0;border:0;width:auto!important;font-size:999px;z-index:1;cursor:default;-webkit-opacity:0;-moz-opacity:0;opacity:0;filter:alpha(opacity=0);}
.normal-button{position:relative;top:0;margin:0 0 5px 0;padding:0;border:0;height:36px;padding:0 15px;color:#fff;text-align:center;overflow:visible;font-size:15px;background:#41a729;cursor:pointer;white-space:nowrap;-webkit-border-radius:16px;-moz-border-radius:16px;border-radius:16px;}
a.normal-button{display:inline-block;text-decoration:none;line-height:36px;}
.normal-button:hover,.fileinputs:hover .normal-button{background-color:#5db449;}
.search-results .highlight,.results .highlight{background:yellow;padding:0 3px;color:#000;}
.pagehub{clear:both;text-align:center;padding:20px 0;background:#f1f1f1;}
.pagehub a,.pagehub span{position:relative;display:inline-block;width:28px;height:28px;line-height:28px;text-align:center;text-decoration:none;font-size:15px;color:#fff;background:#41a729;-webkit-border-radius:14px;-moz-border-radius:14px;border-radius:14px;}
.pagehub span.pagenav{background:#f06120;}
.pagehub a:hover{background:#5db449;}
.pagehub span.pagenav-ico{opacity:0.5;-moz-opacity:0.5;filter:alpha(opacity=50);cursor:default;}
.clear-decor,.description_separator,.article_separator{clear:both;background:yellow;margin:0 0 20px 0;height:10px;overflow:hidden;}
img.img-left,img[align=left]{float:left;margin:0 15px 5px 0;}
img.img-right,img[align=right]{float:right;margin:0 0 5px 15px;}
a.xeditorpopup img{border:1px solid #41a729;}
a.xeditorpopup:hover img{border-color:#f06120;}
.mod_breadcrumbs ul{margin:0 0 25px 0;padding:0;}
.mod_breadcrumbs ul li{margin:0 6px 0 0;padding:0 0 0 12px;display:inline;background-position:left;}
#system-message dt{display:none;}
#system-message .message ul{margin:0;padding:0;}
#system-message .message ul li{margin:0;padding:0;background:none;}
#system-message .message{padding:8px 14px;margin:0 0 15px 0;background-color:#c5dbc0;border:1px solid #41a729;-webkit-border-radius:16px;-moz-border-radius:16px;border-radius:16px;}
#system-message .notice{background-color:#f2d3c5;border-color:#f06120;}
#system-message .warning,#system-message .error{background-color:#f27941;border-color:#f06120;color:#fff;}
#system-message .warning a,#system-message .error a{color: #fff;}
/* layout */
#wrapper{min-width: 980px;background: url(../images/bg/01.png) top;}
#container{*zoom:1;width:940px;padding: 10px 10px 0;margin: 0 auto;text-align: left;background: #fff;}
#container:before,#container:after{display:table;content:"";}
#container:after{clear:both;}
#col-main{width:700px;float: right;}
#col-left{width: 220px;float: left;}
#col-right{width: 220px;float: right;}
#col-center{width: 470px;float: left;}
#content{padding: 10px;}
/* header */
#page-header{position: relative;z-index: 9999;min-width: 980px;background: url(../images/bg/02.png) no-repeat top;}
#page-header .inner{*zoom:1;width:960px;padding: 0 10px;margin: 0 auto;text-align: left;}
#page-header .inner:before,#page-header .inner:after{display:table;content:"";}
#page-header .inner:after{clear:both;}
#page-header .logo{float: left;padding: 33px 73px 33px 13px;}
#page-header .slogan{float: left;padding: 23px 0;}
#page-header .facebook{float: right;width:284px;padding: 0 16px 0 0;text-align: right;}
#page-header .facebook a{display: inline-block;padding: 0 50px 0 0;line-height: 36px;font-size: 13px;color: #41a729;background: url(../images/ico/04.png) no-repeat right;}
/* mods */
.mod_search{*zoom:1;float: right;width:237px;text-align: right;padding: 20px 0 0 63px;margin: 0 0 10px;}
.mod_search:before,.mod_search:after{display:table;content:"";}
.mod_search:after{clear:both;}
.mod_search input[type=text]{position: relative;float: left;margin: 0;padding: 9px 40px 9px 16px;height: 15px;font-size: 12px;border: 1px solid #41a729;width:166px;outline: none;-webkit-border-radius: 17px;-moz-border-radius: 17px;border-radius: 17px;}
.mod_search input[type=text]:hover,.mod_search input[type=text]:focus{border-color: #f16221;}
.mod_search input[type=submit]{position: relative;float: left;margin: 0 0 0 -40px;padding: 0;border: 0;width:40px;height: 35px;cursor: pointer;background: url(../images/ico/03.png) no-repeat;}
.mod_search input[type=submit]:hover{background-position: left bottom;}
.mod_menu-main{position: relative;clear: both;padding: 0 33px;background: #41a729;-webkit-border-radius: 14px 14px 0 0;-moz-border-radius: 14px 14px 0 0;border-radius: 14px 14px 0 0;}
.mod_menu-main ul{*zoom:1;margin: 0;padding: 0;}
.mod_menu-main ul:before,.mod_menu-main ul:after{display:table;content:"";}
.mod_menu-main ul:after{clear:both;}
.mod_menu-main ul li{position: relative;margin: 0;padding: 0;background: none;float: left;}
.mod_menu-main ul li a{display: block;float: left;font-size: 16px;line-height: 52px;padding: 0 18px;margin: 0 2px;white-space: nowrap;color: #fff;text-decoration: none;}
.mod_menu-main ul li a:hover{text-decoration: underline;}
.mod_menu-main ul li.act>a{background: #f06120;text-decoration: underline;}
.mod_menu-main ul ul{display: none;position: absolute;top:100%;left:0;min-width: 100%;max-width: 180px;background: #41a729;-webkit-opacity: 0.9;-moz-opacity: 0.9;opacity: 0.9;filter:alpha(opacity=90);}
.mod_menu-main ul li:hover ul{display: block;}
.mod_menu-main ul ul li{float: none;}
.mod_menu-main ul ul li a{float: none;font-size: 14px;line-height: 1.4;padding: 7px 20px;margin: 0;white-space: normal;}
#slideshow{position: relative;z-index: 999;background: #fff;min-width: 980px;}
.mod_custom-slideshow section{position: relative;height: 330px;overflow: hidden;}
.js .mod_custom-slideshow section{overflow: visible;}
.mod_custom-slideshow article{position: relative;height: 330px;width:100%;min-width: 960px;}
.mod_custom-slideshow article figure{position: absolute;top:0;left:0;width:100%;height:330px;overflow: hidden;min-width: 960px;}
.mod_custom-slideshow article figure span{position: absolute;width:1920px;left:50%;margin-left: -960px;text-align: center;}
.mod_custom-slideshow article figure span .bg-left{content: '';position: absolute;width:460px;height: 100%;margin-left: -800px;left:50%;background: url(../images/bg/04.png) repeat-y right;}
.mod_custom-slideshow article figure span .bg-right{content: '';position: absolute;width:460px;height: 100%;margin-left: 340px;left:50%;background: url(../images/bg/04.png) repeat-y;}
.mod_custom-slideshow article .label{position: absolute;bottom:-9px;left:368px;}
.mod_custom-slideshow article .label img{display: block;}
.mod_custom-slideshow article .content{position: relative;width:960px;height: 330px;padding: 0 10px;margin: 0 auto;text-align: left;}
.mod_custom-slideshow article ul{margin: 0;padding: 116px 0 0 0;position: absolute;}
.mod_custom-slideshow article ul li{margin: 0 0 4px;padding: 0;background: none;}
.mod_custom-slideshow article ul li span{display: inline-block;font-size: 20px;line-height: 1.2;color: #fff;font-weight: bold;padding: 7px 20px 7px 33px;background: #f16221 url(../images/ico/05.png) no-repeat 14px 11px;}
.mod_custom-slideshow .pager{position: absolute;bottom:10px;left:50%;width:960px;margin-left: -480px;z-index: 999;text-align: right;}
.mod_custom-slideshow .pager span{display: inline-block;text-indent: -999em;font-size: 0;line-height: 1;color: #41a729;width:12px;height: 12px;margin: 0 8px 0 0;background: #41a729;cursor: pointer;overflow: hidden;border: 1px solid #fff;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;}
.mod_custom-slideshow .pager span:hover{color: #999;background: #999;}
.mod_custom-slideshow .pager span.cycle-pager-active{color: #f06120;background: #f06120;}
.mod_custom-akce{*zoom:1;padding: 24px;margin:  0 0 10px;border:6px solid #e6e6e6;background: #d9d9d9;}
.mod_custom-akce:before,.mod_custom-akce:after{display:table;content:"";}
.mod_custom-akce:after{clear:both;}
#col-right .mod_custom-akce{text-align: center;}
.mod_custom-akce .mod-left{float: left;width:400px;}
.mod_custom-akce .mod-right{float: right;width:170px;}
.mod_custom-akce .mod-title{font-size: 20px;line-height: 1.2;font-weight: bold;color: #f16221;margin: 0 0 10px;}
.mod_custom-akce .mod-title a{color: #4c4c4c;}
.mod_custom-akce .mod-title small{font-size: 15px;}
.mod_custom-akce .items{*zoom:1;margin: 0 0 0 -24px;}
#col-right .mod_custom-akce .items{margin-left: 0;}
.mod_custom-akce .items:before,.mod_custom-akce .items:after{display:table;content:"";}
.mod_custom-akce .items:after{clear:both;}
.mod_custom-akce .item{position: relative;width:112px;margin: 0 0 0 24px;float: left;text-align: center;}
#col-right .mod_custom-akce .item{margin-left: auto;margin-right: auto;float: none;}
.mod_custom-akce .item figure{padding: 0 0 22px;margin: 0 0 -3px;background: url(../images/bg/03.png) no-repeat bottom;}
.mod_custom-akce .item figure img{border: 1px solid #fff;display: block;}
.mod_custom-akce .item figure a:hover img{border-color: #41a729;}
.mod_custom-akce .item figure span{position: absolute;right:-20px;top:50px;width:46px;height: 46px;line-height: 46px;color:#fff;font-size: 14px;font-weight: bold;background: #f06120;text-align: center;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;}
.mod_custom-akce .item figure a:hover span{background: #41a729;}
.mod_custom-akce nav{font-size: 15px;line-height: 1;}
.mod_custom-akce .list{margin: 0 0 10px;padding: 0;}
.mod_custom-akce .list li{margin: 0 0 6px;padding: 0 0 0 13px;font-size: 13px;background: url(../images/ico/06.png) no-repeat 0 3px;}
.mod_custom-fotosoutez{*zoom:1;float: left;width:285px;margin: 0 0 10px;padding: 24px 24px 4px 24px;border: 6px solid #f06120;background: #f27941;line-height: 1.4;}
.mod_custom-fotosoutez:before,.mod_custom-fotosoutez:after{display:table;content:"";}
.mod_custom-fotosoutez:after{clear:both;}
#col-right .mod_custom-fotosoutez{float: none;width:auto;text-align: center;}
.mod_custom-fotosoutez a{color: #fff;}
.mod_custom-fotosoutez .mod-title{color: #fff;font-size: 20px;line-height: 1.3;font-weight: bold;margin: 0 0 10px;}
.mod_custom-fotosoutez figure{position: relative;width:112px;float: right;padding: 0 0 22px;margin: 0 0 10px 10px;background: url(../images/bg/03.png) no-repeat bottom;}
.mod_custom-fotosoutez figure img{border: 1px solid #fff;display: block;}
.mod_custom-fotosoutez figure a:hover img{border-color: #41a729;}
.mod_custom-fotosoutez figure span{position: absolute;right:-20px;top:50px;width:46px;height: 46px;line-height: 46px;color:#fff;font-size: 14px;font-weight: bold;background: #41a729;text-align: center;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;}
.mod_custom-fotosoutez figure a:hover span{background: #f06120;}
#col-right .mod_custom-fotosoutez figure{float: none;margin-bottom: 0;margin-left: auto;margin-right: auto;}
.mod_custom-fotosoutez nav{font-size: 15px;line-height: 1;margin: 0 0 20px;}
.mod_xnewsletter{*zoom:1;float: right;width:285px;margin: 0 0 10px;padding: 24px 24px 4px 24px;border: 6px solid #41a729;background: #5db449;font-size: 15px;line-height: 1.3;}
.mod_xnewsletter:before,.mod_xnewsletter:after{display:table;content:"";}
.mod_xnewsletter:after{clear:both;}
#col-right .mod_xnewsletter{float: none;width:auto;text-align: center;padding-left: 5px;padding-right: 5px;font-size: 13px;padding-bottom: 0;}
.mod_xnewsletter .mod-title{color: #fff;font-size: 20px;line-height: 1.3;font-weight: bold;margin: 0 0 15px;}
#col-right .mod_xnewsletter .mod-title {font-size: 19px;}
.mod_xnewsletter a{color: #fff;}
.mod_xnewsletter mark{color: #fff;}
.mod_xnewsletter form{margin: 0 0 20px;}
.mod_xnewsletter input[type=email]{position: relative;float: left;margin: 0;padding: 9px 16px 9px 16px;height: 15px;font-size: 12px;border: 1px solid #41a729;width:162px;outline: none;-webkit-border-radius: 17px;-moz-border-radius: 17px;border-radius: 17px;}
.mod_xnewsletter input[type=email]:hover,.mod_xnewsletter input[type=email]:focus{border-color: #f16221;}
.mod_xnewsletter input[type=submit]{position: relative;margin: 0 0 0 15px;padding: 0;border: 0;font-size: 15px;line-height: 35px;color: #fff;white-space: nowrap;text-decoration: underline;background: none;cursor: pointer;}
.mod_xnewsletter input[type=submit]:hover{text-decoration: none;}
.mod_custom-intro{padding: 30px 30px 15px;}
.mod_custom-intro h1{font-size: 20px;line-height: 1.2;font-weight: normal;margin: 0 0 10px;}
.mod_custom-intro h1 a{color: #4c4c4c;}
.mod_custom-intro p{margin: 0 0 15px;}
.mod_menu-sidebar {margin: 0 0 10px;}
.mod_menu-sidebar ul{margin: 0;padding: 6px 0 0;}
.mod_menu-sidebar ul li{margin: 0;padding: 0;background: none;}
.mod_menu-sidebar ul li a{display: block;color: #41a729;font-size: 16px;line-height: 1.2;padding: 7px 30px;text-decoration: none;border-bottom: 1px solid #41a729;}
.mod_menu-sidebar ul li a:hover{color: #fff;background: #41a729;border-color: #fff;}
.mod_menu-sidebar ul ul{position: relative;padding: 16px 30px;background: #41a729;}
.mod_menu-sidebar ul ul:before, .mod_menu-sidebar ul ul .before{content: '';position: absolute;left:30px;top:-1px;border:7px solid transparent;border-top-color: #fff;}
.mod_menu-sidebar ul ul li{margin: 0 0 5px;}
.mod_menu-sidebar ul ul li a{display: inline;color: #fff;font-size: 13px;padding: 0;border: 0;}
.mod_menu-sidebar ul ul li a:hover{color: #fff;text-decoration: underline;}
.mod_menu-sidebar ul ul ul{position: relative;padding: 10px 0 10px 20px;background: none;}
.mod_menu-sidebar ul ul ul:before, .mod_menu-sidebar ul ul ul .before{display: none;}
.mod_custom-kontakt{padding: 20px 5px;margin:  0 0 10px;text-align: center;background: #d9d9d9;border: 6px solid #e6e6e6;}
.mod_custom-kontakt .mod-title{font-size: 20px;line-height: 1.2;font-weight: bold;margin: 0 0 7px;}
.mod_custom-kontakt .mod-title a{color: #4c4c4c;}
.mod_custom-kontakt figure{margin: 0 0 5px;}
.mod_custom-kontakt nav{font-size: 15px;margin: 0 0 5px;}
.mod_custom-facebook{padding: 20px 25px;margin: 0 0 10px;text-align: center;border: 6px solid #e6e6e6;}
.mod_custom-facebook .mod-title{font-size: 20px;line-height: 1.2;font-weight: bold;margin: 0 0 58px;text-align: left;}
.mod_custom-facebook .mod-title a{color: #4c4c4c;}
.mod_custom-facebook figure{margin: 0 0 40px;}
.mod_menu-footer{position: relative;clear: both;padding: 0 33px;margin: 0 0 10px;background: #41a729;-webkit-border-radius: 0 0 14px 14px;-moz-border-radius: 0 0 14px 14px;border-radius: 0 0 14px 14px;}
.mod_menu-footer ul{*zoom:1;margin: 0;padding: 0;}
.mod_menu-footer ul:before,.mod_menu-footer ul:after{display:table;content:"";}
.mod_menu-footer ul:after{clear:both;}
.mod_menu-footer ul li{position: relative;margin: 0;padding: 0;background: none;float: left;}
.mod_menu-footer ul li a{display: block;float: left;font-size: 16px;line-height: 52px;padding: 0 18px;margin: 0 2px;white-space: nowrap;color: #fff;text-decoration: none;}
.mod_menu-footer ul li a:hover{text-decoration: underline;}
.mod_menu-footer ul li.act>a{background: #f06120;text-decoration: underline;}
.mod_custom-prodejny {padding: 10px 0;}
.mod_custom-prodejny .mod-title{font-size: 20px;}
.mod_custom-prodejny .search{*zoom:1;margin: 0 0 20px;}
.mod_custom-prodejny .search:before,.mod_custom-prodejny .search:after{display:table;content:"";}
.mod_custom-prodejny .search:after{clear:both;}
.mod_custom-prodejny .search label{float: left;width: 130px;padding: 10px 0 0 0;text-align: right;}
.mod_custom-prodejny .search .control{float: right;width: 330px;}
.mod_custom-prodejny .search input[type=text]{float: left;margin: 0;padding: 8px 14px;width:300px;border:1px solid #41a729;font-size: 12px;-webkit-border-radius: 16px;-moz-border-radius: 16px;border-radius: 16px;}
.mod_custom-prodejny .search input[type=submit]{position: relative;float: left;margin: 0 0 0 -40px;padding: 0;border: 0;width:40px;height: 35px;cursor: pointer;background: url(../images/ico/03.png) no-repeat;}
.mod_custom-prodejny .search input[type=submit]:hover{background-position: left bottom;}
.mod_custom-prodejny .item{padding: 9px 14px;margin: 0 0 10px;border: 6px solid #e6e6e6;}
.mod_custom-prodejny .item h2{font-size: 16px;font-weight: normal;margin: 0;}
.mod_custom-prodejny .item-header{*zoom:1;position: relative;}
.mod_custom-prodejny .item-header:before,.mod_custom-prodejny .item-header:after{display:table;content:"";}
.mod_custom-prodejny .item-header:after{clear:both;}
.mod_custom-prodejny .item-header .toggle{position: relative;top:3px;float: right;width:21px;height: 13px;background: url(../images/arr/02.png) no-repeat;}
.mod_custom-prodejny .item-header .toggle:hover{background-position: right top;}
.mod_custom-prodejny .active .item-header .toggle{background-position: left bottom;}
.mod_custom-prodejny .active .item-header .toggle:hover{background-position: right bottom;}
.mod_custom-prodejny .item-body{display: none;padding: 20px 0;}
.mod_custom-prodejny .active .item-body{display: block;}
.mod_custom-prodejny .item .mod-left{width:210px;float: left;}
.mod_custom-prodejny .item .mod-right{width:210px;float: right;}
.mod_custom-prodejny .item address{margin: 0 0 20px;}
.mod_custom-prodejny .item .benefits{margin: 0;padding: 0;}
.mod_custom-prodejny .item .benefits li{position: relative;margin: 0 0 10px;padding: 15px 0 15px 55px;background: none;}
.mod_custom-prodejny .item .benefits li i{position: absolute;left:0;top:0;}
.mod_custom-prodejny .item .hours{width:100%;margin: 0 0 20px;}
.mod_custom-prodejny .item .hours th,.mod_custom-prodejny .item .hours td{padding: 2px 10px;text-align: center;border-left: 1px solid #e6e6e6;border-top: 1px solid #e6e6e6;}
.mod_custom-prodejny .item .hours tr:first-child th,.mod_custom-prodejny .item .hours tr:first-child td{border-top: 0;}
.mod_custom-prodejny .item .hours th{border-left: 0;padding-left: 0;font-weight: normal;}
.mod_custom-prodejny .slider{*zoom:1;position: relative;}
.mod_custom-prodejny .slider:before,.mod_custom-prodejny .slider:after{display:table;content:"";}
.mod_custom-prodejny .slider:after{clear:both;}
.mod_custom-prodejny .slider ul{position: relative;margin: 0;padding: 0;}
.mod_custom-prodejny .slider ul li{margin: 0 0 10px 14px;padding: 0;float: left;background: none;}
.mod_custom-prodejny .slider .prev{position: absolute;z-index: 999;left:-9px;top:35px;width:13px;height: 21px;background: url(../images/arr/03.png) no-repeat right top;}
.mod_custom-prodejny .slider .prev:hover{background-position: right bottom;}
.mod_custom-prodejny .slider .next{position: absolute;z-index: 999;right:-9px;top:35px;width:13px;height: 21px;background: url(../images/arr/03.png) no-repeat;}
.mod_custom-prodejny .slider .next:hover{background-position: left bottom;}
.mod_custom-prodejny .slider .cycle-carousel-wrap{width:9999em;}
/* page-footer */
#page-footer{width:960px;margin: 0 auto;text-align: left;padding: 0 10px 50px;}
